*{
    margin: 0px;
    border: 0px; 
 }
 body{
     background-color: #322e2e;
     height: 92.68vh;
     width: 100%;
 }
 #servicos{
     display: flex;
     justify-content: center;
     margin-top: 3rem;
     margin-bottom: 2rem;
     font-family: 'Space Grotesk', sans-serif;
     font-size: 300%;
 }
 .caixas{
     display: flex;
     justify-content: space-around;
     padding: 1rem;
     width: auto;
     margin: 5px 10px 10px 10px;
     
     
 
 }
 .caixa1{
     border: 5px solid rgb(0, 0, 0);
     background: rgb(104, 14, 14);
     border-radius: 1rem;
     width: 18rem;
     
 }
 .frase{
     float: right;
     padding: 5px;
     width: 35ch;
 
 }
 .caixa1 h1, p, h2{
     text-align: justify;
 }
 img{
     height: 6rem;
     width: 8rem;
     padding: 5px;
     border-radius: 1rem;
 }